.navbar {
    /* background-color: #171B20; */
    display: flex;
    justify-content: center;
   
  }

  .navbar img{
    height: 10%;
    width: 10%;

  }
  /* .navbar a {
    color: white;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Amatic SC", cursive;
  }
  .navbar a:hover {
    background-color: #ACE0F9;
    color: black;
  } */